[submodule "bundle/tabular"]
	path = bundle/tabular
	url = https://github.com/godlygeek/tabular.git
[submodule "bundle/vim-colorschemes"]
	path = bundle/vim-colorschemes
	url = https://github.com/flazz/vim-colorschemes.git
[submodule "bundle/vim-endwise"]
	path = bundle/vim-endwise
	url = https://github.com/tpope/vim-endwise.git
[submodule "bundle/vim-fugitive"]
	path = bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "bundle/vim-ruby"]
	path = bundle/vim-ruby
	url = https://github.com/vim-ruby/vim-ruby.git
[submodule "bundle/vim-hemisu"]
	path = bundle/vim-hemisu
	url = https://github.com/noahfrederick/vim-hemisu
[submodule "bundle/molokai"]
	path = bundle/molokai
	url = https://github.com/tomasr/molokai
[submodule "bundle/vim-tomorrow-theme"]
	path = bundle/vim-tomorrow-theme
	url = https://github.com/chriskempson/vim-tomorrow-theme
[submodule "bundle/flattened"]
	path = bundle/flattened
	url = https://github.com/romainl/flattened.git
[submodule "bundle/vim-railscasts-theme"]
	path = bundle/vim-railscasts-theme
	url = https://github.com/chankaward/vim-railscasts-theme.git
[submodule "bundle/vim-nefertiti"]
	path = bundle/vim-nefertiti
	url = https://github.com/jeetsukumaran/vim-nefertiti.git
[submodule "bundle/vim-sorcerer"]
	path = bundle/vim-sorcerer
	url = https://github.com/adlawson/vim-sorcerer.git
[submodule "bundle/anderson"]
	path = bundle/anderson
	url = git@github.com:gilgigilgil/anderson.vim.git
[submodule "bundle/flatlandia"]
	path = bundle/flatlandia
	url = git@github.com:jordwalke/flatlandia.git
[submodule "bundle/apprentice"]
	path = bundle/apprentice
	url = git@github.com:romainl/Apprentice.git
[submodule "bundle/vim-hybrid"]
	path = bundle/vim-hybrid
	url = git@github.com:w0ng/vim-hybrid.git
[submodule "bundle/colors-codeschool"]
	path = bundle/colors-codeschool
	url = git@github.com:antlypls/vim-colors-codeschool.git
